body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
  }

  header, footer {
    background-color: #000; /* Black bar */
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 1px;
  }
  
  header p {
    margin: 5px 0 0;
    font-weight: 400;
  }
  
  iframe {
    width: 100%;
    min-height: 900px;
    border: 1px solid #ccc;
    border-radius: 6px;
  } 

  footer a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  
  h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 40px;
  }
  
  .project {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    gap: 15px;
  }
  
  .project img {
    width: 180px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .resume-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .resume-button:hover {
    background-color: #555;
  }
  